FLASK_ENV=development
SECRET_KEY=super_secret_key
JWT_SECRET_KEY=super_jwt_key
DATABASE_URL=postgresql://odyss_user:your_secure_password@localhost:5432/odyss_db
POSTGRES_USER=odyss_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=odyss_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
